
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
}

body{
    background: black;
}

section{
    height: 100vh;
    position: relative;
    border: 1px solid black;
    background: red;
    margin: 0 250px 0 250px;
}

.shoes{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.testo{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

section p{
    font-size: 35px;
}

.bg-red{
    background: red;
}

.bg-green{
    background: green;
}

.bg-yellow{
    background: yellow;
}

button{
    border: none;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
} 

.button{
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(-50%, -50%);
}




